.services .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 0;
}

.services .header h3 {
  color: #fff;
  font-size: 5.6rem;
  text-transform: uppercase;
  width: 60%;
}

.services .serviceItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 80px;
  padding-bottom: 4rem;
}

@media screen and (max-width: 1400px) {
  .services .serviceItems {
    flex-wrap: wrap;
  }
  .services .header h3,
  .videoSection .header h3,
  .videoSection .header h3 span {
    font-size: 4rem;
    width: 75%;
  }

  .services .serviceItems {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .services .header {
    flex-direction: column;
    padding: 40px 40px 0;
  }

  .services .header h3 {
    width: 100%;
  }
}
